html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', fantasy;
    background-color: #59404071;
}

/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c50bd643 url("https://www.reddit.com/r/gifs/comments/6s77ih/this_would_make_an_awesome_loading_circle/") no-repeat center center;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.bg-light{
    background-color: #e4e1e1!important;
}

.navbar-brand{
    font-family: 'Rama Gothic', fantasy;
    font-size: 1.5rem;
    color: #7f133d!important;
}

.nav-link{
    color: #0c0a0a!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #896262;
}
/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    height: 100vh;
    background-color: rgb(111, 99, 40);
    color: #bc9b9b;
    padding: 3rem;
    border-bottom-left-radius: 45rem;
    border-bottom-right-radius: 45rem;
    margin-bottom: 1vh;
}

.hero-img{
    height: 50vh;
    width: 100%;
}

@media only screen and (max-width: 466px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #fff;
    color: #039be5!important;
    transition: 0.3s;
}

.get-started:hover{
    text-decoration: none;
    background-color: #aac8d7;
    
}
/* here content css starts here  */

/* get-started-buttons css starts here*/
.get-started-content{
    height: 60vh;
    background-color: #0e4306;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;
    color: #f1dfdf!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #017ab6;
    text-decoration: none;
}
/* get-started-buttons css end here*/

/* footer css starts here */
footer{
    background-color: #9383b7;
   
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #9110b8dc;
}

.linkedin{
    color: #00f7ffe7;
}

.google{
    color: #D44638;
}